.signUpForm {
  position: relative;
  width: 700px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;


  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;


    form {

      h2 {
        font-size: 30px;
        color: #343434;
        text-align: center;
      }

      .inputBox{
        position: relative;
        margin: 30px 0;
        border-bottom: 2px solid #343434;

        input {
          width: 320px;
          height: 40px;
          font-size: 16px;
          color: #343434;
          padding: 0 5px;
          background: transparent;
          border: none;
          outline: none;

          &:focus~label,
          &:valid~label{
            top: -5px;
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: #979797;
          pointer-events: none;
          transition: .5s;
        }
      }

      button {
        position: relative;
        width: 100%;
        height: 40px;
        background: #343434;
        color: #fff;
        box-shadow: 0 0 10px #979797;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        outline: none;

        &:disabled {
          background: #979797;
          pointer-events: none;
        }
      }

    }

    .signInlLink {
      font-size: 14px;
      text-align: center;
      margin: 15px 0;

      p {
        color: #343434;
      }
      a {
        color: royalblue;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}